*.pyc
描述统计学入门/.ipynb_checkpoints/lesson01-checkpoint.ipynb
统计思维与艺术/.ipynb_checkpoints/chapter01-checkpoint.ipynb
统计思维与艺术/.ipynb_checkpoints/chapter02-checkpoint.ipynb
概率论与数理统计/.ipynb_checkpoints/chap1-checkpoint.ipynb
*.aux
*.out
*.gz
概率论与数理统计/.ipynb_checkpoints/chap2-checkpoint.ipynb
概率论与数理统计/.ipynb_checkpoints/chap2P-checkpoint.ipynb
概率论与数理统计/.ipynb_checkpoints/chap2R-checkpoint.ipynb
概率论与数理统计/answer.log
概率论与数理统计/.ipynb_checkpoints/chap01-checkpoint.ipynb
概率论与数理统计/.ipynb_checkpoints/chap02P-checkpoint.ipynb
概率论与数理统计/.ipynb_checkpoints/chap02R-checkpoint.ipynb
概率论与数理统计/.ipynb_checkpoints/chap03P-checkpoint.ipynb
统计学习导论/chap02-统计学习/.ipynb_checkpoints/r-checkpoint.ipynb
统计学习导论/chap02-统计学习/figure.pdf
统计学习导论/chap02-统计学习/.ipynb_checkpoints/python-checkpoint.ipynb
统计学习导论/chap02-统计学习/solution/.ipynb_checkpoints/08_Python-checkpoint.ipynb
统计学习导论/chap02-统计学习/solution/.ipynb_checkpoints/08_R-checkpoint.ipynb
统计学习导论/chap02-统计学习/solution/.ipynb_checkpoints/09_Python-checkpoint.ipynb
统计学习导论/chap02-统计学习/solution/.ipynb_checkpoints/09_R-checkpoint.ipynb
统计学习导论/chap02-统计学习/solution/.ipynb_checkpoints/10_Python-checkpoint.ipynb
统计学习导论/chap02-统计学习/solution/.ipynb_checkpoints/10_R-checkpoint.ipynb
统计学习导论/ISLR-master.zip
统计学习导论/ISLR-python-master.zip
统计学习导论/chap03-线性回归/.ipynb_checkpoints/Chapter 3-checkpoint.ipynb
